src.jdbc.class=com.microsoft.sqlserver.jdbc.SQLServerDriver
src.jdbc.url=jdbc:sqlserver://localhost:1433;DatabaseName=db1
src.jdbc.user=sa
src.jdbc.password=123456
src.jdbc.type=mssql

desc.jdbc.class=net.ucanaccess.jdbc.UcanaccessDriver
desc.jdbc.url=jdbc:ucanaccess://mssql2access_test.mdb
desc.jdbc.user=
desc.jdbc.password=
desc.jdbc.type=access


table.table1=create,data
table.table2=create,data
table.table3=create,data
